<!--<head>-->

    <!--<title>NRG</title>-->

    <!--<meta charset="UTF-8" />-->
    <!--<meta http-equiv="X-UA-Compatible" content="IE=edge" />-->
    <!--<meta name="description" content="NRG Site" />-->
    <!--<meta name="viewport" content="width=device-width, initial-scale=1.0" />-->
    <!--<meta http-equiv="X-UA-Compatible" content="IE=9">-->
    <!--<link rel="shortcut icon" href="images/NRGLogo.png" />-->

    <!--&lt;!&ndash; NRG CSS&#45;&#45;&ndash;&gt;-->
    <!--<link rel="stylesheet" type="text/css" href="styles/new-home.css">-->
    <!--<link rel="stylesheet" type="text/css" href="styles/main.css">-->
    <!--<link rel="stylesheet" type="text/css" href="styles/slick.css">-->
    <!--<link rel="stylesheet" type="text/css" href="styles/owl-carousel.css">-->
    <!--<link rel="stylesheet" type="text/css" href="styles/theme-carousel.css">-->
    <!--<link rel="stylesheet" type="text/css" href="styles/transition-carousel.css">-->


    <!--<link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>-->

    <!--<script src="js/homepageJs/modernizr.js"></script>-->

    <!--<script type="text/javascript" src="//use.typekit.net/khi6tzf.js"></script>-->
    <!--<script type="text/javascript">try{Typekit.load();}catch(e){}</script>-->

    <!--<script src="//code.jquery.com/jquery-1.10.2.js"></script>-->

<!--</head>-->

<body class="new-home">

<header>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="header-wrapper">
                    <div class="logo">
                        <a href="/site/es.html">
                            <img src="images/logo.png" alt="Logo" /> </a>
                    </div><div class="right-wrapper">
                        <div class="top-menu">
                            <ul>
                                <li class="submenu-switch"><a href="main">Sign In</a>
                                </li>
                                <li class="submenu-switch"><a href="main">Register</a>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<section class="slider">
    <div class="container">
        <div class="wrap-slider">
            <div class="prev-nav"></div>
            <div class="next-nav"></div>
            <div class="main-slider ">
                <div>
                    <div class="slide-item">
                        <img src="images/slider1.jpg"  alt="Slider Saul"/>
                        <div class="item-caption">
                            <h2>Welcome to NRG</h2>
                            <a href="main">Sign in</a>
                        </div>
                    </div>
                </div><div>
                    <div class="slide-item">
                        <img src="images/slider2.jpg" alt="Slider Saul"/>
                        <div class="item-caption">
                            <h2>Dont have account?</h2>
                            <a href="main">Register</a>
                        </div>
                    </div>
                </div><div>
                    <div class="slide-item">
                        <img src="images/slider3.jpg" alt="Slider Saul"/>
                        <div class="item-caption">
                            <h2>Save Energy</h2>
                            <a href="main">Now!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="feature-blocks">
    <div class="container">
        <div class="blocks-wrapper">
            <h3>About</h3>
            <div class="row">
                <div class="col-md-4 col-sm-12 col-xs-12">
                    <div class="feature-item">
                        <!--<a href="/estilosaul/2016/january/nuevas-cervezas-artesanales-en-saul-losteria.html">-->
                        <a href="/estilosaul/2016/january/nuevas-cervezas-artesanales-en-saul-losteria">
                            <img src="images/thunder.png" alt="Feature Image"/>
                            <h4>Purpose</h4>
                        </a>
                        <p>
                            The primary objective of NRG is to provide a system by which the
                            daily tide of energy usage can be moderated to reduce dependence on inefficient power
                            plants. The system aims to do this by anticipating demand and reducing the power used
                            by devices that are non-essential for the uninterrupted flow of daily life. This would in
                            turn reduce overall power generation costs and environmental stress.
                        </p>
                    </div>
                </div><div class="col-md-4 col-sm-12 col-xs-12">
                    <div class="feature-item">
                        <!--<a href="/estilosaul/2015/december/new-balance-lifestyle-y-g-star-raw-llegan-a-saul.html">-->
                        <a href="/estilosaul/2015/december/new-balance-lifestyle-y-g-star-raw-llegan-a-saul">
                            <img src="images/lightBulb.png" alt="Feature Image"/>
                            <h4>NRG System</h4>
                        </a>
                        <p>The NRG system differs from other smart grid plans by taking a more active role in reducing power usage during peak hours. In other systems, the force behind any change in energy usage is ultimately the end user. This reliance on individual participation means that in order to see a significant result, a large number of people need to change their habits. This is unlikely. NRG avoids this by adjusting consumption rates automatically when needed without any input from the consumer.
                        </p>
                    </div>
                </div><div class="col-md-4 col-sm-12 col-xs-12">
                    <div class="feature-item">
                        <!--<a href="/estilosaul/2015/december/nuevo-saul-bistro-en-plaza-madero.html">-->
                        <a href="/estilosaul/2015/december/nuevo-saul-bistro-en-plaza-madero">
                            <img src="images/plug.png" alt="Feature Image"/>
                            <h4>Energy</h4>
                        </a>
                        <p>Catalyze the timely, material, and efficient transformation of the nation’s energy system and secure U.S. leadership in clean energy technologies.</p>
                    </div>
                </div></div><!--end row-->
        </div><!--end wrapper-->
    </div><!--end container--></section>

<footer>
    <div class="container">
        <div class="row " style="width:100%; padding-left:200px">
            <div class="col-md-8 col-sm-12 footer-left">
                <div class="row">
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="footer-col">
                            <div class="list-title" data-toggleable>
                                <h4>Address</h4> </div>
                            <div class="list-content">
                                <ul class="footer-list">
                                    <li>
                                        <h6>5151 State University Dr. Los Angeles, CA 90032</h6>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div><div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="footer-col">
                            <div class="list-title" data-toggleable>
                                <h4>Contact</h4> </div>
                            <div class="list-content">
                                <ul class="footer-list">
                                    <li>
                                        <h6>Phone:213 555 5555</h6>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div><div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="footer-col">
                            <div class="list-title" data-toggleable>
                                <h4>Team Members: </h4> </div>
                            <div class="list-content">
                                <ul class="footer-list">
                                    <li>
                                        <h6> Andres, Abdias</h6>
                                        <h6> Argumedo, Kevin</h6>
                                        <h6> Huynh, Kevin</h6>
                                        <h6> Zuniga, Ignacio</h6>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div></div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="copyright">
                    <ul>
                        <li>© 2016 NRG | All rights reserved</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>

<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<!--<script src="scripts/jquery.js" type="javascript"></script>-->
<!--<script src="scripts/owl.carousel.min.js"></script>-->
<!--<script src="scripts/jquery.dotdotdot.min.js"></script>-->
<!--<script src="scripts/jquery.validate.js"></script>-->

<script src="js/homepageJs/jquery.bookblock.js"></script>
<script src="js/homepageJs/main.js"></script>
<script src="js/homepageJs/jquery-2.0.0.min.js"></script>
<script src="js/homepageJs/jquery-migrate-1.1.1.min.js"></script>

<!--<script src="scripts/affix.js"></script>-->
<!--<script src="scripts/alert.js"></script>-->
<!--<script src="scripts/dropdown.js"></script>-->
<script src="js/homepageJs/tooltip.js"></script>
<!--<script src="scripts/modal.js"></script>-->
<script src="js/homepageJs/transition.js"></script>
<script src="js/homepageJs/button.js"></script>
<script src="js/homepageJs/popover.js"></script>
<script src="js/homepageJs/carousel.js"></script>
<script src="js/homepageJs/scrollspy.js"></script>

<!-- Added for changes specified in Saul Home Page -->
<script src="js/homepageJs/slick.min.js"></script>
<script src="js/homepageJs/new-home.js"></script>

<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
    <div style="display:inline;">
        <img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/977013232/?value=0&amp;guid=ON&amp;script=0"/>
    </div>
</noscript>
<!--===================GOOGLE REMARKETING CODE END===========================--><script src="//platform.twitter.com/oct.js" type="text/javascript"></script>
<script type="text/javascript">twttr.conversion.trackPid('ntv0z', { tw_sale_amount: 0, tw_order_quantity: 0 });</script>

</body>
