<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>Houses</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="NRG Site" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=9">
    <link rel="shortcut icon" href="images/NRGLogo.png" />



    <!-- NRG CSS---->
    <link rel="stylesheet" type="text/css" href="styles/new-home.css">
    <link rel="stylesheet" type="text/css" href="styles/main.css">
    <link rel="stylesheet" type="text/css" href="styles/slick.css">
    <link rel="stylesheet" type="text/css" href="styles/owl-carousel.css">
    <link rel="stylesheet" type="text/css" href="styles/theme-carousel.css">
    <link rel="stylesheet" type="text/css" href="styles/transition-carousel.css">
    <link rel="stylesheet" type="text/css" href="styles/appViews.css">


    <link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

    <script src="js/homepageJs/modernizr.js"></script>

    <script type="text/javascript" src="//use.typekit.net/khi6tzf.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

    <script src="//code.jquery.com/jquery-1.10.2.js"></script>

</head>
<body background="images/loginBack.jpg" class="new-home">
<!---replace <div id="header" with this <header> and everything inside-->
<header>
    <div class="container" >
        <div class="row">
            <div class="col-md-12">
                <div class="header-wrapper">
                    <div class="logo">
                        <a href="../">
                            <img src="images/whiteNRG.png" alt="Logo" /> </a>
                    </div><div class="right-wrapper">
                        <div class="top-menu">
                            <ul>
                                <li class="submenu-switch"><a style="color:white;" href='/x/logout'>Log Out</a>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- end of header--->

<% if (req.session.houses.length > 0) { %>

<section class="slider">
    <div class="container">
        <div class="addRooms">
            <h2>Add House</h2>
            <form action="/x/houseadd" method="post">
                <div class="field">
                    <input type="text" id="fieldUser" name="name" class="input" required pattern=.*\S.* />
                    <label for="fieldUser" class="label">House Name</label>
                </div>
                <div class="field">
                    <!--<input type="text" id="fieldPassword"  name="image" class="input" required pattern=.*\S.* />-->
                    <!--<label for="fieldPassword" class="label">House Image</label>-->

                    <select name="image" class="input">
                        <option value="/images/GivenHouses/Apartment.png">Apartment</option>
                        <option value="/images/GivenHouses/Beach House.png">Beach House</option>
                        <option value="/images/GivenHouses/Cabin in the Woods.png">Cabin in the Woods</option>
                        <option value="/images/GivenHouses/RV.png">RV</option>
                    </select>
                </div>
                <div class="btn btn-primary">
                    <input type="submit" name="Submit" style="background: transparent;">
                </div>
            </form>
        </div>
        <div class="my-slider">
            <div class="prev-nav"></div>
            <div class="next-nav"></div>
            <div class="main-slider ">
                <% _.each(req.session.houses, function (corndog) { %>

                <div class="slide-item" >
                    <img src=""  alt="Slider Saul" style="background: transparent"/>

                    <div class="item-caption">
                        <div id="myImage">
                            <img src="<%= corndog.image %>" alt="SliderItem" />
                        </div>

                        <h2><%= corndog.name%></h2>
                        <a href="/x/housedelete?id=<%= corndog.id %>">Destroy</a>|
                        <a href="/x/roomreturnAll?id=<%= corndog.id %>">Rooms</a>
                    </div>
                </div>
                <% }) %>
            </div>
        </div>
    </div>
</section>

<% } else { %>

<section>

    <div class="container">
            <h2>Add House</h2>
            <form action="/x/houseadd" method="post">
                <div class="field">
                    <input type="text" id="fieldUser" name="name" class="input" required pattern=.*\S.* />
                    <label for="fieldUser" class="label">House Name</label>
                </div>
                <div class="field">
                    <!--<input type="text" id="fieldPassword"  name="image" class="input" required pattern=.*\S.* />-->
                    <!--<label for="fieldPassword" class="label">House Image</label>-->

                    <select name="image" class="input">
                        <option value="/images/GivenHouses/Apartment.png">Apartment</option>
                        <option value="/images/GivenHouses/Beach House.png">Beach House</option>
                        <option value="/images/GivenHouses/Cabin in the Woods.png">Cabin in the Woods</option>
                        <option value="/images/GivenHouses/RV.png">RV</option>
                    </select>
                </div>
                <div class="btn btn-primary">
                    <input type="submit" name="Submit" style="background: transparent;">
                </div>
            </form>
    </div>
</section>
<% } %>



<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
<!--<script src="scripts/jquery.js" type="javascript"></script>-->
<!--<script src="scripts/owl.carousel.min.js"></script>-->
<!--<script src="scripts/jquery.dotdotdot.min.js"></script>-->
<!--<script src="scripts/jquery.validate.js"></script>-->

<script src="js/homepageJs/jquery.bookblock.js"></script>
<script src="js/homepageJs/main.js"></script>
<script src="js/homepageJs/jquery-2.0.0.min.js"></script>
<script src="js/homepageJs/jquery-migrate-1.1.1.min.js"></script>

<!--<script src="scripts/affix.js"></script>-->
<!--<script src="scripts/alert.js"></script>-->
<!--<script src="scripts/dropdown.js"></script>-->
<script src="js/homepageJs/tooltip.js"></script>
<!--<script src="scripts/modal.js"></script>-->
<script src="js/homepageJs/transition.js"></script>
<script src="js/homepageJs/button.js"></script>
<script src="js/homepageJs/popover.js"></script>
<<script src="js/homepageJs/carousel.js"></script>
<script src="js/homepageJs/scrollspy.js"></script>

<!-- Added for changes specified in Saul Home Page -->
<script src="js/homepageJs/slick.min.js"></script>
<script src="js/homepageJs/new-home.js"></script>

<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
    <div style="display:inline;">
        <img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/977013232/?value=0&amp;guid=ON&amp;script=0"/>
    </div>
</noscript>
<!--===================GOOGLE REMARKETING CODE END===========================--><script src="//platform.twitter.com/oct.js" type="text/javascript"></script>
<script type="text/javascript">twttr.conversion.trackPid('ntv0z', { tw_sale_amount: 0, tw_order_quantity: 0 });</script>



</body>
</html>


