<div>
  <h1>You have to log in bitch/h1>
  <h2>watch my dick</h2>
  fuck I hate forms and shit

  	<form action="/x/login" method="post">
  		Username:<br>
  		<input type="text" name="username" value=""><br>
  		Password:<br>
 		<input type="password" name="password" value=""><br><br>
  		<input type="submit" value="Submit">
	</form> 


  <ul> 
    <li><a href='/register'>Register for a new Accoutn</a></li>
  </ul>
</div>