<% if (typeof req.session.valid !== 'undefined' && req.session.valid !== true) { 
req.session.valid = false;
}%>

<% if (!req.session.valid) { %>

you need to log in outside of login.ejs

--------------------------------------------
<%- partial ('login.ejs') %>

--------------------------------------------
<% } else { %>
Yeah you are cool session has been recorded
<br>
you are logged in as : <%= req.session.username %>
<br>
your id is : <%= req.session.identifier %>
<br>
<%- partial ('house.ejs') %>

<br>
<a href='/x/logout'>logout</a>
<% } %>