  	creating a new fucken user I am so fucken sleepy......
  	<form action="/x/useradd" method="post">
  		Username:<br>
  		<input type="text" name="username" value=""><br>
  		Password:<br>
 		<input type="password" name="password" value=""><br><br>
  		<input type="submit" value="Submit">
	</form> 